@font-face {
    font-family: "Lato";
    src: url("./Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}